project:
  type: website
  output-dir: docs

website:
  title: "Hanno and Fatima's Escape Rooms"

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true

editor: visual

