project:
  type: website
  output-dir: docs

website:
  title: "Hanno and Fatima's Escape Rooms"

execute: 
  freeze: auto

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css

editor: visual

